body {
  background-image: url(../img/waves.jpg);
  background-position: bottom;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh 30% 0 30%;
  background-color: burlywood;
  height: 50vh;
  border-radius: 50%;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand--img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
}
