body {
  background-image: url(../img/waves.jpg);
  background-position: bottom;
}

.brand {
  height: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.brand__container {
  background-color: burlywood;
  border-radius: 50%;
}

.brand--heading {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand--img {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin-top: 2em;
  width: 200%;
}

h2 {
  width: 200%;
  font-size: 4.9rem;
  font-weight: 700;
}
