body {
  background-image: url(../img/waves.jpg);
  background-position: bottom;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.brand__container {
  background-color: burlywood;
  border-radius: 50%;
  height: 42vh;
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand--heading {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.brand--img {
  max-width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 2em;
  width: 200%;
}

h2 {
  width: 200%;
  font-size: 3vw;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
