* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set font-size to default */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(31, 45, 45);
}
section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
}

h3 {
  display: block;
  font-weight: 700;
  font-size: 4rem;
}

li {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the tab */

nav {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  width: 30%;
  justify-content: center;
  flex-grow: initial;
}

main {
  display: flex;
  flex-direction: column;
 height: 80vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: darkcyan;
  height: 4vh;
}

.navbar__li--group {
  display: flex;
  justify-content: center;
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
}

.navbar__li {
  display: inline-block;
  padding: 4px;
  margin: 0;
  height: 100%;
}
.navbar__li--group:last-child {
  margin-right: 1vw;
}

.navbar__li--group:first-child {
  margin-left: 1vw;
}

.navbar__li--active {
  border-bottom: solid black 4px;
}

footer {
  height: 20vh;
  background-color: darkcyan;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
footer > p {
  font-size: 2rem;
}

th {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: solid black 2px;
  font-size: 1.3rem;
  font-weight: 700;
}

td {
  padding: 0.6rem 1rem 0.6rem 1rem;
  border: solid black 2px;
  font-size: 1.3rem;
  font-weight: 400;
}

tr:nth-last-of-type(even),
tfoot {
  background-color: lightgrey;
}

.copyright {
  font-size: 1rem;
}

.salespage {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: flex-start;
  margin-left: 10rem;

}

fieldset {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

label {
  font-size: 1.5rem;
  margin-top: 1rem;
}

button {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #444;
  color: antiquewhite;
}

article {
  
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: -8rem;
  font-style: 700;
  font-size: 1.31rem;
  padding-right: 4rem;
 
}

.success {
  background-color: rgba(0, 128, 0, 0.472);
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: -8rem;
  padding: 1rem;

}

table{
  height: 50%;
}
.fail{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  background-color: rgba(255, 0, 0, 0.573);
}