* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Set font-size to default */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}

h3 {
  display: block;
  font-weight: 700;
  font-size: 4rem;
}

li {
  font-size: 2rem;
}

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
nav {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  width: 30%;
  justify-content: center;
  flex-grow: initial;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2rem 3.6rem;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabdata {
  display: none;
  padding: 6rem 3rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkcyan;
  height: 4vh;
}

a {
  text-decoration: none;
  color: black;
}

.navLi {
  display: inline-block;
  border: solid black 2px;
  padding: 4px;
  margin: 0;
  height: 100%;
}
.navLi:last-child {
  margin-right: 1vw;
}

.navLi:first-child {
  margin-left: 1vw;
}
